html, body {
  font-family: "Helvetica", sans-serif;
  font-size: 16px;
}

#relike--universal-like-button {
  background: rgba(235, 235, 240, 1);;
  border: solid 1px #CCC;
  border-radius: 0.3rem;
  font-size: 1.5rem;
  font-weight: 200;
  letter-spacing: 0.1rem;
  outline: none;
  padding: 0.5rem 1rem;
}

#relike--universal-like-button.liked {
  background: rgba(173, 213, 255, 0.65)
}

#relike--universal-like-button:hover {
  background: rgba(245, 245, 250, 1);
}

#relike--universal-like-button:active {
  background: rgba(230, 230, 240, 1);
}

#relike--universal-like-button--like-count {
  margin-left: 0.5rem;
}
